.reveal a, .reveal h1 {
    color: #27ae60;
}

.reveal .progress span {
    background: #27ae60 none repeat scroll 0 0;
}

.reveal ul {
    list-style: square;
}

.slides {
    width: 75%!important;
}


/* controles */
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #27ae60;
}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #27ae60;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #2ecc71;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #2ecc71;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled:hover {
    border-right-color: #2ecc71;
}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled:hover {
    border-left-color: #2ecc71;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #27ae60;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled:hover {
    border-top-color: #27ae60;
}
